<div class="row">
  <%= render "/admins/left"%>
  <div class="col-md-10">
  <div class="message"></div>
  <div class="panel panel-default ">
    <div class="panel-body">
      <%= simple_form_for @limit do |f|%>
      <%= f.input :to_user,label:"限制对象",placeholder:"邮箱"%>
       <%= f.input :admin_id,value: Admin.find_by(user_id: current_user.id).id ,as:"hidden"%>
      <%= f.input :status,label:'限制种类',collection:{'不能发表文章'=>0,"不能评论"=>1,"全部"=>2}%>
      <br>
      <%= f.submit "提交",class:' btn btn-primary col-md-1 '%>
      <% end%>
    </div>
  </div>
</div>
</div>