
  <div class="panel">
    <div class="panel-body">
      <%= form_for(:session ,url: login_path) do |f|%>
      <%= f.label '用户名/邮箱'%>
      <%= f.text_field :name,class:'form-control'%>
      <%= f.label '密码'%>
      <%= f.password_field :password,class:'form-control'%>
      <br>
      <%=f.submit "登录",class:"btn btn-success form-control"%>
      <%= link_to "没有账号? 注册一个",new_user_path%>
      <% end %>
    </div>
  </div>
<style>
.container {
  width: 35%;
}
</style>
