<section class="content-wrap">
  <div class="container">
    <div class="row">
      <%= render "share/topics"%>
      <aside class="col-md-4 sidebar">
      <%= render "share/categories",categories: all_categories%>
      <%= render "share/tags",tags: all_tags%>
      <%= render "share/most_read",topics: sort_by_read_count%>
      <%= render "share/latest_comments"%>
      </aside>
    </div>
  </div>
</section>