<% content_for :head do%>
  <%= render 'layouts/header',user: current_user%>
<% end %>
<section class="content-wrap">
  <div class="container">
    <div class="row">
      <%= render "share/topics"%>
      <aside class="col-md-4 sidebar">
        <%= render "share/notice"%>
        <%= render "share/search"%>
        <%= render "share/categories",categories: all_categories%>
        <%= render "share/tags",tags: all_tags%>
        <%= render "share/most_read",topics: sort_by_read_count(current_user)%>
        <%= render "share/latest_comments"%>
        <%= render 'share/friend_links',user: current_user if current_user%>
      </aside>
    </div>
  </div>
</section>
<nav class="pagination" role="navigation">
</nav>
<style>
.container {
  width: 85%;
}
</style>